html{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
h4{
	color:rgb(15,105,189);
}
h5{
	color:rgb(15,105,189);
}
p{
	line-height: 1.2em;
	text-align: justify;
}
li{
	text-align: justify;
}

.nav-wrapper{
	background-color: rgb(255,255,255);
}
body{
	background-color: rgb(230,230,230);
	color: rgb(71,81,86);
	font-size: 16px;
	line-height: 25px;
	text-rendering: optimizelegibility;
}
a{
	color: rgb(71,81,86);
}
#divHome{
	border: 1px solid black;
}
.banner{
	max-width: 100%;
	width:100%;
	margin:0 auto;
	background-size:100% auto;
}
.page-footer{
	background-color: rgb(255,255,255);
}
.divider{
	background-color: rgb(118,123,139);
}
#principal_activities{
	color:rgb(6,50,163);
}
td img{
	width: 40px;
}
.franjaDerecha{
	padding:2px;
	padding-left: 0px;
}
.franjaIzquierda{
	padding:2px;
	padding-right: 0px;
}
#footerDiv{
	padding:0px;
}

.depur{
	border:1px solid black;
}
#panoramaUl{

}
#download a{
	color: white;
}