{% extends 'base_about.html' %}
{% load static %}

{% block title %}
Quiénes Somos | Observatorio Laboral Aysen
{% endblock title %}

{% block head %}
<script src="{% static 'gui/js/about.js' %}"></script>
{% endblock head %}

{% block content_about %}
<div id="main">
  <div id="breadcrumbs">
    <ul>
      <li><a href="{% url 'gui:home' %}">Inicio</a></li>
      <li class="sep">/</li>
      <li>Quiénes Somos »</li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <div class="post">
    <div class="fontsize">
      <ul>
        <li class="small"><a data-size="10">a</a></li>
        <li class="medium current"><a data-size="15">a</a></li>
        <li class="large"><a data-size="20">a</a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
    <div class="texto">
      <h3 class="title">Quiénes Somos</h3>
      <div class="contenido">
        <p>El <strong>Observatorio Laboral Aysén</strong> es parte de la red de <strong>Observatorios Laborales</strong> desarrollada por el <strong>Servicio Nacional de Capacitación y Empleo</strong>, SENCE; en conjunto con la <strong>Sociedad de Fomento Fabril</strong>, SOFOFA. </p>
        <p>La <strong>misión</strong> del observatorio es <strong>producir conocimiento e información</strong> sobre el funcionamiento y caracterización del <strong>mercado de trabajo</strong> y su <strong>dinámica</strong> para la <strong>Región de Aysén</strong>, avanzando hacia la <strong>anticipación de las brechas futuras</strong> de <strong>capital humano</strong>. Esto con el objetivo de <strong>mejorar la empleabilidad</strong> de los trabajadores y <strong>productividad</strong> de la región, mediante la <strong>generación de información</strong> que apoye la pertinencia de la formación, y el vínculo entre vacantes de empleo y buscadores de empleo.</p>
        <p>Los principales usuarios de la información provista por el Observatorio Laboral Aysén son instituciones de Gobierno, Oficinas Municipales de Información Laboral, instituciones educacionales/formativas, trabajadores y empresarios a nivel regional como nacional. </p>
        <p>La red de observatorios es coordinada por el Observatorio Laboral Nacional (http://www.observatorionacional.cl). El Director de SENCE y los respectivos Directores Regionales del Servicio son los responsables y representantes del proyecto a nivel central y regional. Cada observatorio cuenta con un consejo asesor que integra representantes del Estado, sector público, empresarios, trabajadores y académicos.</p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
{% endblock content_about %}