{% extends 'base_home.html' %}
{% load static %}
{% block title %}Consejo Asesor - Observatorio Aysen{% endblock title%}

{% block head %}
<script src="{% static 'gui/js/advice.js' %}"></script>
{% endblock head %}

{% block content_home %}
<br>
<div class="row">
	<div class="col s12"><a href="{% url 'gui:home' %}">Inicio /</a><a href="#"> Consejo Asesor >></a></div>
	<div class="col s3"></div>	
</div>
<div class="row">
	<div class="col s12 white">
		<div class="row">
			<div class="col s12">
				<h4>Consejo Asesor</h4>
			</div>
		</div>
		<div class="divider"></div>
		<div class="row">
			<div class="col s12">
				<p>El Consejo Asesor, como órgano superior en la estructura del Observatorio Laboral Aysén, es una instancia en la que estan integrados y representados distintos actores relevantes y representativos a nivel del Gobierno Regional, de las Organizaciones Empresariales y Sindicales de la Región de Aysén.</p>
			</div>
            <div class="col s12">
				<p>De esta forma se busca dotar al Director del Observatorio Laboral Regional del máximo acompañamiento posible de las instituciones, organizaciones y autoridades, tanto públicas como privadas, que garanticen el posicionamiento, integración y relevancia de las acciones llevadas a cabo en su interior.</p>
			</div>
            <div class="col s12">
				<p>Para el caso del Observatorio Laboral Aysén, el Consejo Asesor esta integrado por: </p>
                <ul>
                  <li>Director Regional de SENCE Aysén</li>
                  <li>Representante del INE Región de Aysén</li>
                  <li>Director CORFO Región de Aysén</li>
                  <li>Seremi del Trabajo y Previsión Social Aysén</li>
                  <li>Seremi Desarrollo Social Aysén</li>
                  <li>Seremi de Educación Aysén</li>
                  <li>Campus Patagonia UACh</li>
                  <li>Universidad de Aysén</li>
                  <li>Inacap Coyhaique</li>
                  <li>Consejo Regional de Aysén</li>
                  <li>Multigremial Aysén</li>
                  <li>Federación Gremios Turismo</li>
                  <li>Salmon Chile</li>
                  <li>Sindicato Friosur</li>
                  <li>Sindicato Hipermas</li>
                </ul>
			</div>
		</div>
	</div>
</div>
<div class="row white">
	<br>
	<div class="col s6 m3 l3">
		<img src="{% static 'gui/img/andres.png' %}" class='responsive-img circle'>
		<center>Nombre Apellido</center>
		<center>Cargo</center>
		<br>
	</div>
	<div class="col s6 m3 l3">
		<img src="{% static 'gui/img/carlos.png' %}" class='responsive-img circle'>
		<center>Nombre Apellido</center>
		<center>Cargo</center>
		<br>
	</div>
	<div class="col s6 m3 l3">
		<img src="{% static 'gui/img/maria.png' %}" class='responsive-img circle'>
		<center>Nombre Apellido</center>
		<center>Cargo</center>
		<br>
	</div>
	<div class="col s6 m3 l3">
		<img src="{% static 'gui/img/juan.png' %}" class='responsive-img circle'>
		<center>Nombre Apellido</center>
		<center>Cargo</center>
		<br>
	</div>
</div>
{% endblock content_home %}