{% load static %}
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>    
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{% static 'gui/css/materialize.min.css' %}">
  <link rel="stylesheet" href="{% static 'gui/css/materialize.css' %}">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>           
  <script src="{% static 'gui/js/materialize.min.js' %}"></script> 
  <script src="{% static 'gui/js/materialize.js' %}"></script> 
  <script src="{% static 'gui/js/scripts.js' %}"></script>
  <link rel='stylesheet' href="{% static 'gui/css/style.css' %}"></link>
  <link rel="shortcut icon" href="{% static 'gui/img/favicon.ico' %}" />
  {% block head %}{% endblock %}
</head>

<body >
  <!-- carrousel -->
  <div class="container">
    <div class="carousel carousel-slider center banner" data-indicators="true">
      <div class="carousel-item black white-text" href="#one!" id='thebigimage'>
        <div class="row">
          <div class="col s4 m3"><img src="{% static 'gui/img/logo_sence.png'%}" id='logo_sence' class="responsive-img"></div>
          <div class="col s4 m3"><img src="{% static 'gui/img/logo_min.png'%}" id='logo_min' class="responsive-img"></div>
          <div class="col s4 m3 offset-m3"><img src="{% static 'gui/img/logo_obs_aysen.png'%}" id='logo_obs_aysen' class="responsive-img"></div>
        </div>
         
         
      </div>
      <div class="carousel-item amber white-text" href="#two!">
         <div class="row">
          <div class="col s4 m3"><img src="{% static 'gui/img/logo_sence.png'%}" id='logo_sence' class="responsive-img"></div>
          <div class="col s4 m3"><img src="{% static 'gui/img/logo_min.png'%}" id='logo_min' class="responsive-img"></div>
          <div class="col s4 m3 offset-m3"><img src="{% static 'gui/img/logo_obs_aysen.png'%}" id='logo_obs_aysen' class="responsive-img"></div>
        </div>
      </div>
      <div class="carousel-item green white-text" href="#three!">
         <div class="row">
          <div class="col s4 m3"><img src="{% static 'gui/img/logo_sence.png'%}" id='logo_sence' class="responsive-img"></div>
          <div class="col s4 m3"><img src="{% static 'gui/img/logo_min.png'%}" id='logo_min' class="responsive-img"></div>
          <div class="col s4 m3 offset-m3"><img src="{% static 'gui/img/logo_obs_aysen.png'%}" id='logo_obs_aysen' class="responsive-img"></div>
        </div>
      </div>
      <div class="carousel-item blue white-text" href="#four!">
         <div class="row">
          <div class="col s4 m3"><img src="{% static 'gui/img/logo_sence.png'%}" id='logo_sence' class="responsive-img"></div>
          <div class="col s4 m3"><img src="{% static 'gui/img/logo_min.png'%}" id='logo_min' class="responsive-img"></div>
          <div class="col s4 m3 offset-m3"><img src="{% static 'gui/img/logo_obs_aysen.png'%}" id='logo_obs_aysen' class="responsive-img"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- end corrousel -->
 
<!-- menu -->
<div class='container'>
  <ul id="dropdown1" class="dropdown-content">
    <li id='about'><a class='grey-text text-darken-3' href="{% url 'gui:about' %}">QUIÉNES SOMOS</a></li>
    <li id='advice'><a class='grey-text text-darken-3' href="{% url 'gui:advice' %}">CONSEJO ASESOR</a></li>
    <li id='team'><a class='grey-text text-darken-3' href="{% url 'gui:team' %}">EQUIPO</a></li>
  </ul>
  <ul id="dropdown2" class="dropdown-content">
    <li id='s_about'><a class='grey-text text-darken-3' href="{% url 'gui:about' %}">QUIÉNES SOMOS</a></li>
    <li id='s_advice'><a class='grey-text text-darken-3' href="{% url 'gui:advice' %}">CONSEJO ASESOR</a></li>
    <li id='s_team'><a class='grey-text text-darken-3' href="{% url 'gui:team' %}">EQUIPO</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" data-activates="mobile-demo" class="button-collapse"><div class='grey-text text-darken-3'>MENU</div></a>
      <ul class="center hide-on-med-and-down">
        <li id="about"><a class="dropdown-button grey-text text-darken-3" href="#!" data-activates="dropdown1">QUIÉNES SOMOS<i class="material-icons right">arrow_drop_down</i></a></li>
        <li id="panorama"><a class='grey-text text-darken-3' href="{% url 'gui:panorama'%}">PANORAMA REGIONAL</a></li>
        <li id="sectors"><a class='grey-text text-darken-3' href="{% url 'gui:sectors'%}">SECTORES</a></li>
        <li id="activities"><a class='grey-text text-darken-3' href="{% url 'gui:activities'%}">OCUPACIONES</a></li>
        <li id="news"><a class='grey-text text-darken-3' href="{% url 'gui:news' %}">NOTICIAS</a></li>
        {% if user.is_authenticated %}
          <li id="logout"><a class='grey-text text-darken-3 tooltipped' href="{% url 'gui:logout' %}" data-tooltip="Salir" data-position="top"><i class="large material-icons">power_settings_new</i></a></li>
        {% else %}
          <li id="login"><a class='grey-text text-darken-3 tooltipped' href="{% url 'gui:login' %}" data-tooltip="Ingresar" data-position="top"><i class="large material-icons">input</i></a></li>
        {% endif %}
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li id="s_about"><a class="dropdown-button grey-text text-darken-3" href="#!" data-activates="dropdown2">QUIÉNES SOMOS<i class="material-icons right">arrow_drop_down</i></a></li>
        <li id="s_panorama"><a class='grey-text text-darken-3' href="{% url 'gui:panorama'%}">PANORAMA REGIONAL</a></li>
        <li id="s_sectors"><a class='grey-text text-darken-3' href="{% url 'gui:sectors'%}">SECTORES</a></li>
        <li id="s_activities"><a class='grey-text text-darken-3' href="{% url 'gui:activities'%}">OCUPACIONES</a></li>
        <li id="s_news"><a class='grey-text text-darken-3' href="{% url 'gui:news' %}">NOTICIAS</a></li>
        {% if user.is_authenticated %}
          <li id="logout"><a class='grey-text text-darken-3 tooltipped' href="{% url 'gui:logout' %}" data-tooltip="Salir" data-position="top"><i class="large material-icons">power_settings_new</i></a></li>
        {% else %}
          <li id="login"><a class='grey-text text-darken-3 tooltipped' href="{% url 'gui:login' %}" data-tooltip="Ingresar" data-position="top"><i class="large material-icons">input</i></a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <!-- end menu -->

  {% block content %}{% endblock %}

  <!-- footer page -->
  <footer>
    <div class='card-panel white' id='footerDiv'>
      <div class="row">
        <div class="col s5 "><div class="card-panel blue franjaDerecha"></div></div>
        <div class="col s7 "><div class="card-panel red franjaIzquierda"></div></div>
      </div>
      <div class="row">
        <div class="col s12 m12 l4"><div id="auxSence"></div><center><img class="responsive-img" src="{% static 'gui/img/logos.png' %}" id='bid'></div></center>
        <div class="col s12 m12 l4">
          <div id="auxOtic"></div>
          <center><img class="responsive-img" src="{% static 'gui/img/otic.png' %}" id='otic'></center>
        </div>
        <div class="col s12 m12 l4"><center><img class="responsive-img" src="{% static 'gui/img/uach_dos.jpg' %}" id='logou'></center><div id="auxLogo"></div></div>
      </div>
    </div>
  </footer>
  </div>
</body>
</html>