{% load static %}
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>    
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{% static 'gui/css/materialize.min.css' %}">
  <link rel="stylesheet" href="{% static 'gui/css/materialize.css' %}">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>           
  <script src="{% static 'gui/js/materialize.min.js' %}"></script> 
  <script src="{% static 'gui/js/materialize.js' %}"></script> 
  <script src="{% static 'gui/js/scripts.js' %}"></script>
  <link rel='stylesheet' href="{% static 'gui/css/style.css' %}"></link>
  <link rel="shortcut icon" href="{% static 'gui/img/favicon.ico' %}" />
  {% block head %}{% endblock %}
</head>

<body >
  
 <DIV class="CONTAINER">
  <img class="responsive-img banner" src="{% static 'gui/img/Observatorio_Laboral_banner-02.jpg'%}" >  
</DIV>
<!-- menu inicial -->
<div class='container'>
  <ul id="dropdown1" class="dropdown-content">
    <li><a class='grey-text text-darken-3' href="{% url 'gui:about' %}">QUIÉNES SOMOS</a></li>
    <li><a class='grey-text text-darken-3' href="{% url 'gui:advice' %}">CONSEJO ASESOR</a></li>
    <li><a class='grey-text text-darken-3' href="{% url 'gui:team' %}">EQUIPO</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" data-activates="mobile-demo" class="button-collapse"><div class='grey-text text-darken-3'>MENU</div></a>
      <ul class="center hide-on-med-and-down">
        <li><a class='grey-text text-darken-3' href="{% url 'gui:home'%}">INICIO</a></li>
        <li><a class="dropdown-button grey-text text-darken-3" href="#!" data-activates="dropdown1">QUIÉNES SOMOS<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class='grey-text text-darken-3' href="{% url 'gui:panorama'%}">PANORAMA REGIONAL</a></li>
        <li><a class='grey-text text-darken-3' href="{% url 'gui:sectors'%}">SECTORES</a></li>
        <li><a class='grey-text text-darken-3' href="{% url 'gui:activities'%}">OCUPACIONES</a></li>
        <li><a class='grey-text text-darken-3' href="http://observatorionacional.cl/category/noticias/" target="_blank">NOTICIAS</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a class='grey-text text-darken-3' href="{% url 'gui:home'%}">INICIO</a></li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li>
              <a class="collapsible-header class='grey-text text-darken-3'">QUIÉNES SOMOS<i class="mdi-navigation-arrow-drop-down"></i></a>
              <div class="collapsible-body">
                <ul>
                  <li><a class='grey-text text-darken-3' href="{% url 'gui:advice' %}">CONSEJO ASESOR</a></li>
                  <li><a class='grey-text text-darken-3' href="{% url 'gui:team' %}">EQUIPO</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <li><a class='grey-text text-darken-3' href="{% url 'gui:panorama'%}">PANORAMA REGIONAL</a></li>
        <li><a class='grey-text text-darken-3' href="{% url 'gui:sectors'%}">SECTORES</a></li>
        <li><a class='grey-text text-darken-3' href="{% url 'gui:activities'%}">OCUPACIONES</a></li>
        <li><a class='grey-text text-darken-3' href="http://observatorionacional.cl/category/noticias/" target="_blank">NOTICIAS</a></li>
      </ul>
    </div>
  </nav>

  <!-- end menu -->
  {% block content %}{% endblock %}
  <!-- footer page -->
  <footer>
    <div class='card-panel white' id='footerDiv'>
      <div class="row">
        <div class="col s5 "><div class="card-panel blue franjaDerecha"></div></div>
        <div class="col s7 "><div class="card-panel red franjaIzquierda"></div></div>
      </div>
      <div class="row">
        <div class="col s6 m6 l3"><img class="responsive-img" src="{% static 'gui/img/logos.png' %}" id='bid'></div>
        <div class="col s6 m6 l3"></div>
        <div class="col s6 m6 l3"><img class="responsive-img" src="{% static 'gui/img/otic.png' %}" id='otic'></div>
        <div class="col s6 m6 l3"><img class="responsive-img" src="{% static 'gui/img/logou.png' %}" id='logou'></div>
      </div>
    </div>
  </footer>
  </div>
</body>
</html>