{% extends 'base.html' %}
{% load static %}
{% block title %}Ocupaciones - Observatorio Aysen{% endblock title%}

{% block head %}<script src="{% static 'gui/js/activities.js' %}"></script>{% endblock head %}

{% block content %}

<br>
<div class="row">
  <div class="col s12"><a href="{% url 'gui:home' %}">Inicio /</a><a href="{% url 'gui:activities' %}"> Ocupaciones / </a><a href="#"> Detalle >></a></div>
  <div class="col s3"></div>  
</div>


<div class="row">
	<div class="col s12 m6 l6">
		<img class='responsive-img' draggable="false" src="{% static 'gui/img/iconos_agricultura_icono.png' %}">
	</div>
	<div class="col s12 m6 l6">
		<h4>Empleados de control de abastecimientos inventarios</h4>
	</div>
</div>
<div class="row">
	<div class="col s2 m1 l1"><img class='responsive-img' src="{% static 'gui/img/salario.png' %}"></div>
	<div class="col s7 m9 l9">Salario por hora</div>
	<div class="col s3 m2 l2"><h5>$2000</h5></div>
	<div class="col s2 m1 l1"></div>
	<div class="col s10 m11 l11 divider"></div>
</div>
<div class="row" style="">

</div>
<div class="row">
	<div class="col s2 m1 l1"><img class='responsive-img' src="{% static 'gui/img/salario.png' %}"></div>
	<div class="col s7 m9 l9">Salario promedio</div>
	<div class="col s3 m2 l2"><h5>$432000</h5></div>
	<div class="col s2 m1 l1"></div>
	<div class="col s10 m11 l11 divider"></div>
</div>
<div class="row">
	<div class="col s2 m1 l1"><img class='responsive-img' src="{% static 'gui/img/capacitacion.png' %}"></div>
	<div class="col s7 m9 l9">Años de escolaridad</div>
	<div class="col s3 m2 l2"><h5>11</h5></div>
	<div class="col s2 m1 l1"></div>
	<div class="col s10 m11 l11 divider"></div>
</div>
<div class="row">
	<div class="col s2 m1 l1"><img class='responsive-img' src="{% static 'gui/img/mujeres.png' %}"></div>
	<div class="col s7 m9 l9">Mujeres</div>
	<div class="col s3 m2 l2"><h5>11 %</h5></div>
	<div class="col s2 m1 l1"></div>
	<div class="col s10 m11 l11 divider"></div>
</div>
<div class="row">
	<div class="col s2 m1 l1"><img class='responsive-img' src="{% static 'gui/img/capacitacion.png' %}"></div>
	<div class="col s7 m9 l9">Capacitados</div>
	<div class="col s3 m2 l2"><h5>5</h5></div>
	<div class="col s2 m1 l1"></div>
	<div class="col s10 m11 l11 divider"></div>
</div>
<div class="row">
	<div class="col s2 m1 l1"><img class='responsive-img' src="{% static 'gui/img/jornada-completa.png' %}"></div>
	<div class="col s7 m9 l9">Edad promedio</div>
	<div class="col s3 m2 l2"><h5>47</h5></div>
	<div class="col s2 m1 l1"></div>
	<div class="col s10 m11 l11 divider"></div>
</div>
<div class="row">
	<div class="col s2 m1 l1"><img class='responsive-img' src="{% static 'gui/img/jornada-completa.png' %}"></div>
	<div class="col s7 m9 l9">Jornada completa</div>
	<div class="col s3 m2 l2"><h5>42%</h5></div>
	<div class="col s2 m1 l1"></div>
	<div class="col s10 m11 l11 divider"></div>
</div>
<div class="row">
	<div class="col s2 m1 l1"><img class='responsive-img' src="{% static 'gui/img/plazo-indefinido.png' %}"></div>
	<div class="col s7 m9 l9">Contrato a Plazo Indefinido</div>
	<div class="col s3 m2 l2"><h5>75%</h5></div>
	<div class="col s2 m1 l1"></div>
	<div class="col s10 m11 l11 divider"></div>
</div>
</div>

{% endblock content %}