{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Ingresar</h2>
<form method="post">
	{% csrf_token %}
	<div class="row">
		<div class="input-field col s6">
			<input id="username" name='username' type="text" class="validate">
			<label for="username">Usuario</label>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<input id="password" name="password" type="password" class="validate">
				<label for="password">Contraseña</label>
			</div>
		</div>
		<button class="btn waves-effect waves-light" type="submit" name="action">Aceptar
			<i class="material-icons right">send</i>
		</button>
	</div>
</form>

{% endblock %}