{% extends 'base.html' %}
{% load static %}
{% block title %}Nueva Noticia - Observatorio Aysen{% endblock title%}

{% block head %}<script src="{% static 'gui/js/news.js' %}"></script>{% endblock head %}

{% block content %}

<br>
<div class="row">
	<div class="col s12"><a href="{% url 'gui:home' %}">Inicio /</a><a href="{% url 'gui:news' %}"> Noticias / </a><a href="#"> Nueva >></a></div>
	<div class="col s3"></div>  
</div>

<div class="row">
	{% if form.errors %}
	<div id="modalError" class="modal bottom-sheet">
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger center">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger center">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
</div>
{% endif %}
	
<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
            <form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{% if form %}
			<div class="row">
			<div class="input-field col s12">
				<label for="title">Título</label>
				<input id="title" name='title' type="text" class="form-control input-sm chat-input" value='{{ form.title.value }}'>
				
			</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<label for="resumen">Resumen</label>
					<textarea id="resumen" name='resumen' class="form-control input-sm chat-input">{{ form.resumen.value }}</textarea>
					
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					<label for="content">Contenido</label>
					<textarea id="content" name='content' class="form-control input-sm chat-input">{{ form.content.value }}</textarea>
					
				</div>
			</div>
			<div class="file-field input-field">
				<div class="btn">
					<span>Imagen</span>
					<input type="file" name='imagen' value='Imagen'>
				</div>
				<div class="file-path-wrapper">
					<input class="form-control input-sm chat-input" type="hidden">
				</div>
			</div>
			{% else %}
			<div class="row">
				<div class="input-field col s12">
					<label for="title">Título</label>
					<input id="title" name='title' type="text" class="form-control input-sm chat-input">
					
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<label for="resumen">Resumen</label>
					<textarea id="resumen" name='resumen' class="form-control input-sm chat-input"></textarea>
					
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					<label for="content">Contenido</label>
					<textarea id="content" name='content' class="form-control input-sm chat-input"></textarea>
					
				</div>
			</div>
			<div class="file-field input-field">
				<div class="btn">
					<span>Imagen</span>
					<input type="file" name='imagen' value='imagen'>
				</div>
				<div class="file-path-wrapper">
					<input class="form-control input-sm chat-input" type="hidden">
				</div>
			</div>
			{% endif %}
            
            </br>
            <div class="wrapper">
            <span class="group-btn">     
                <button class="form-control btn-primary" type="submit" name="action">Aceptar
		</button>
            </span>
            </div>
        </form>
            </div>
        
        </div>
    </div>
</div>
{% endblock content %}
