{% extends 'base.html' %}
{% load static %}
{% block title %}Noticias - Observatorio Aysen{% endblock title%}

{% block head %}<script src="{% static 'gui/js/news.js' %}"></script>{% endblock head %}

{% block content %}
<br>
<div class="row">
	<div class="col s12"><a href="{% url 'gui:home' %}">Inicio /</a><a href="#"> Noticias >></a></div>
	<div class="col s3"></div>	
</div>
<div class="row">
	<div class="col s11">
		<ul class="pagination center">
			<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
			
			{% for p in pages %}
				<li class="{{p.class}}"><a href="{% url 'gui:pageNews' p.p%}">{{p.p}}</a></li>
			{% endfor %}
			<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
		</ul>
	</div>
	<div class="col s1">
		{% if user.is_authenticated %}
		<a class="btn-floating btn-large waves-effect waves-light blue tooltipped" data-tooltip="Agregar Noticia" data-position="top" href="{% url 'gui:newNews' %}"><i class="material-icons">add</i></a>
		{% endif %}
	</div>
</div>

<div class="row">
	{% if news %}
	{% for n in news %}
	<div class="col s12 m9">
		<div class="card">
			<div class="card-image">
				<a href="#modal{{n.pk}}">
					<img src="/media/{{n.imagen}}" class='responsive-img'> 
				</a>
			</div>
			<div class="card-content">
				<a href="#modal{{n.pk}}">
					<span class="card-title">{{n.title}}</span>
				</a>
				<p>{{n.resumen}}</p>
				{% if user.is_authenticated %}
				<a href="{% url 'gui:updateNews' n.pk %}" id='{{n.pk}}'><span class="new badge" data-badge-caption="Editar"></span></a>
				<a href="{% url 'gui:deleteNews' n.pk %}" id='{{n.pk}}'><span class="new badge red" data-badge-caption="Eliminar"></span></a>
				{% endif %}

			</div>
		</div>
	</div>
	<div id="modal{{n.pk}}" class="modal">
		<div class="modal-content">
			<h4>{{n.title}}</h4>
			<p>{{n.resumen}}</p>
			<p>{{n.content}}</p>
			<div class="card-image center">
				<img src="/media/{{n.imagen}}" class='responsive-img'> 
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
		</div>
	</div>
	{% endfor %}
	{% endif %}
</div>

{% endblock content %}