{% extends 'base.html' %}
{% load static %}
{% block title %}Panorama Regional - Observatorio Aysen{% endblock title%}

{% block content %}
<br>

<div class="row">
	<div class="col s12">

    <ul class="collapsible" data-collapsible="accordion">
      <li class='blue'>
        <div class="collapsible-header blue">
         <div class="row">
          <div class="col s4">
            <br>
            <img class='responsive-img' src="{% static 'gui/img/icono_panorama.png' %}">
          </div>
          <div class="col s8">
            <div class="row">
              <div class="col s12">
                <h5 class='white-text'>Panorama Regional</h5>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <p class='white-text'>La economía de la Región de Aysen está fuertemente caracterizada por un sector: la Minería. Este sector genera aproximadamente el 58% del PIB regional, dando lugar a una fuerte concentración de la actividad económica, crea el 29% del empleo total y explica el 63% de la ocupación que labora en Aysen pero que no reside en ella (empleo conmutante interregional). Tras un largo ciclo donde los precios de los productos mineros han permanecido en niveles históricamente elevados, comienza a experimentar un proceso de normalización, que ha mostrado una repercusión directa sobre la actividad económica y el mercado laboral de la región.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="collapsible-body">
        <div class="row">
          <div class="col s12">
            <ul class='white-text'>
              <li > Cambio 2014-2015:</li>
              <li class="collection-item"><i class="tiny material-icons">adjust</i> La tasa de desempleo regional se sitúa en 6,7% (6,2% nacional) para el año 2015, manteniendo la tendencia alcista experimentada desde el año 2012.</li>
              <li><i class="tiny material-icons">adjust</i> El sector que mayor descenso relativo experimenta en la contratación es el de transporte y comunicaciones con una caída del empleo en los últimos doce meses del 10% (aproximadamente 2.800 puestos de trabajo destruidos).</li>
              <li><i class="tiny material-icons">adjust</i> La minería (el sector más importante en la ocupación) sigue manifestando un descenso en la contratación, al caer ésta un 8% en variación interanual, equivaliendo este descenso a cerca de 8.500 trabajadores menos.</li>
              <li><i class="tiny material-icons">adjust</i> De los aproximadamente 8.500 puestos de trabajo destruidos en la minería el 37% pertenecían a trabajadores no residentes (conmutantes).</li>
              <li><i class="tiny material-icons">adjust</i> A pesar de los descensos en transporte y minería, existen dos sectores que lideran la contratación en el último año: restaurantes y hoteles (creciendo la contratación cerca de un 21%; 1.900 ocupados nuevos) y comercio (11,5% de crecimiento en la ocupación; 5.400 ocupados nuevos).</li>
            </ul>
          </div>
        </div>
        <div class='row'>
          <div class="col s12">
            <p class='white-text bold'><strong>Dinámica de los principales indicadores del mercado de trabajo</strong>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <img class='responsive-img' src="{% static 'gui/img/dinamica_indicadores.png' %}">
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
</div>

{% endblock content%}