{% extends 'base_about.html' %}
{% load static %}

{% block title %}
Equipo | Observatorio Laboral Aysen
{% endblock title %}

{% block head %}
<script src="{% static 'gui/js/about.js' %}"></script>
{% endblock head %}

{% block content_about %}
<div id="main">

  <div id="breadcrumbs">
    <ul>
      <li><a href="{% url 'gui:home' %}">Inicio</a></li>
      <li class="sep">/</li>
      <li>Equipo »</li>
    </ul>
    <div class="clearfix"></div>
  </div>

  <div class="post">

    <div class="fontsize">
      <ul>
        <li class="small"><a data-size="10">a</a></li>
        <li class="medium current"><a data-size="15">a</a></li>
        <li class="large"><a data-size="20">a</a></li>
      </ul>
    </div>
    <div class="clearfix"></div>

    <div class="texto">

      <h3 class="title">Equipo</h3>
      <div class="contenido">
        <table class="table">
          <tbody>
            <tr>
              <td width="300"><strong>Víctor Iduarte Cofré</strong></td>
              <td width="450">Director de Proyecto </td>
            </tr>
            <!--<tr>
            <td colspan="2">
            Titulos y experiencia.</td>
            </tr>-->
            <tr>
              <td width="300"><strong>Cristian Mondaca Marino</strong></td>
              <td width="450">Analista Senior</td>
            </tr>
            <!--<tr>
<td colspan="2">
Titulos y experiencia.</td>
</tr>-->
            <tr>
              <td width="300"><strong>Ailin Arriagada Millaman</strong></td>
              <td width="450">Asesor Cuantitativo</td>
            </tr>
            <!--<tr>
<td colspan="2">
Titulos y experiencia.</td>
</tr>--><tr>
            <td width="300"><strong>Jorge Cea Rodriguez</strong></td>
            <td width="450">Asesor Cualitativo</td>
            </tr>
            <!--<tr>
<td colspan="2">
Titulos y experiencia.</td>
</tr>--><tr>
            <td width="300"><strong>Arturo del Rio Correa</strong></td>
            <td width="450">Analista Cuantitativo</td>
            </tr>
            <!--<tr>
<td colspan="2">
Titulos y experiencia.</td>
</tr>--><tr>
            <td width="300"><strong>Claudio Herrera Figueroa</strong></td>
            <td width="450">Analista Cualitativo</td>
            </tr>
            <!--<tr>
<td colspan="2">
Titulos y experiencia.</td>
</tr>--><tr>
            <td width="169"><strong>Christian Lazo Ramírez</strong></td>
            <td width="450">Asesor en Sistemas de Información</td>
            </tr>
            <!--<tr>
<td colspan="2">
Titulos y experiencia.</td>
</tr>--><tr>
            <td width="300"><strong>Andres Nova Reyes</strong></td>
            <td width="450">Experto en Diseño Organizacional</td>
            </tr>
            <!--<tr>
<td colspan="2">
Titulos y experiencia.</td>
</tr>--><tr>
            <td width="300"><strong>Felipe Elmes Pehuen</strong></td>
            <td width="450">Encargado relaciones institucionales y difusión</td>
            </tr>
            <!--<tr>
<td colspan="2">
Titulos y experiencia.</td>
</tr>--><tr>
            <td width="300"><strong>Yohana Aguilar Fernández</strong></td>
            <td width="450">Secretaria</td>
            </tr>
            <!--<tr>
<td colspan="2">
Titulos y experiencia.</td>
</tr>-->
          </tbody>
        </table>
        <p>&nbsp;</p>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>

</div>
{% endblock content_about %}